@using Ogani.Data.Entities;
@model Ogani.Data.Entities.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="ProductShortDescription" class="control-label"></label>
                <input asp-for="ProductShortDescription" class="form-control" />
                <span asp-validation-for="ProductShortDescription" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="ProductInformation" class="control-label"></label>
                <input asp-for="ProductInformation" class="form-control" />
                <span asp-validation-for="ProductInformation" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label for="image" class="control-label">Product Image</label>
                <div class="custom-file">
                    <input name="image" id="image" type="file" class="custom-file-input" onchange="updateFileNameLabel(this)" />
                    <label class="custom-file-label" id="imageLabel" for="image">Choose file</label>
                </div>
                <span asp-validation-for="ProductImageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductCategoryCategoryID" class="control-label">ProductCategory</label>
                <select asp-for="ProductCategoryCategoryID" class="form-control">
                    <option value ="@Guid.Empty">Select Category...</option>
                    @foreach (Category category in @ViewBag.Categories)
                    {
                        <option value = "@category.CategoryID">@category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="ProductCategoryCategoryID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Console" class="btn btn-md btn-outline-info" asp-action="Products">Back to List</a>
</div>


<script>
    function updateFileNameLabel(input) {
        var fileName = input.files[0].name;
        document.getElementById("imageLabel").innerText = fileName;
    }
</script>