@using Packt.Shared;

@{
    ViewData["Test"] = "Test";
}
<h1>@ViewData["Test"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>